.product_page_uploadbox {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
}

.product_page_uploadbox .product_page_uploadbox_one {
  position: relative;
  overflow: hidden;
}

.product_page_uploadbox .hiddeninput {
  position: absolute;
  width: 100%;
  left: -2px;
  top: 10px;
  opacity: 0;
}

.upload_filebox {
  align-items: center;
  border-style: dashed;
  border-width: 1px;
  border-radius: 6px;
  border-color: green;
  display: flex;
  flex-direction: column;
  height: 3.9em;
  justify-content: center;
  padding: 0px 0.2em;
  cursor: pointer;
}

.actioncolimn {
  display: flex;
  gap: 15px;
  align-items: center;
  padding-left: 18px;
}

.actioncolimn .editiconn {
  font-size: 20px;
  z-index: 1 !important;
}

.productdescbox {
  padding: 10px 0;
}

.productdesc {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.table_body button#productstatus_dropdown {
  margin: 0;
  padding: 0;
  position: absolute;
  top: -11px;
  left: -30px;
  opacity: 0;
}

.table_body .actioncolimn .productprofile_div .product_list_dropdownstatus {
  z-index: 999;
  background-color: black;
}

.table_body .actioncolimn .productprofile_div .product_list_dropdownstatus .product_list_dropdownstatus_link {
  color: #fff;
  z-index: 999;
}

.table_body .actioncolimn .productprofile_div .product_list_dropdownstatus .product_list_dropdownstatus_link:hover {
  color: black;
  z-index: 999;
}

.table_body .beUiVL {
  font-size: 16px !important;
  font-weight: 600 !important;
}

.table_body .actioncolimn .doticon {
  position: relative;
}

.table_body .bQdYbR {
  font-size: unset;
}

.table_body .sc-jSUZER.eVPPvF .actioncolimn,
.table_body .sc-jSUZER.eVPPvF>div {
  overflow: unset !important;
}

.dtqzBx div.dropdown:first-child {
  overflow: unset !important;
}

.statuschhangeselling {
  background-color: rgba(63, 195, 128, 0.9);
  color: black;
  border-radius: 100px;
  height: 23px;
  padding: 0 12px;
}

.statuschhangesold {
  background-color: rgba(242, 38, 19, 0.9);
  color: black;
  border-radius: 100px;
  height: 23px;
  padding: 0 12px;
}

.table_body .sc-dkrFOg.iSAVrt.rdt_TableHeadRow {
  background: rgb(89 193 88 / 20%);
}

.actioncolimn .feature_product_dropdown_box {
  position: relative;
}

.yYwtp div:first-child {
  white-space: nowrap;
  overflow: unset !important;
  text-overflow: ellipsis;
}

.actioncolimn .feature_product_dropdown_box .feature_product_select {
  position: absolute;
  z-index: 1;
  top: 2px;
  opacity: 0;
}

/* variant and image */
.img_preview_boxx {
  /* display: flex;
  gap: 10px;
  align-items: center; */
}

.img_preview_boxx .imgprivew_box {
  position: relative;
}

.add_variety_list_box .action_btn_box .variety_edit_action_btn {
  font-size: 22px;
  cursor: pointer;
}

.img_preview_boxx .imgprivew_box .cover_icon {
  display: none;
  position: absolute;
  bottom: 40%;
  text-align: center;
  width: 100%;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  background: #0d6efd;
  transition: all 0.2s;
}

.img_preview_boxx .imgprivew_box:hover .cover_icon {
  display: block;
  transition: all 0.2s;
}

.img_preview_boxx .imgprivew_box .cross_icon {
  position: absolute;
  font-size: 20px;
  border: 1px solid #198754;
  border-radius: 50%;
  padding: 0 6px;
  background: #fff;
  color: #198754;
  right: 0;
  line-height: 1;
  top: 0px;
  cursor: pointer;
}

.img_preview_boxx .imgprivew_box .plus_icon {
  position: absolute;
  font-size: 60px;
  padding: 0 8px;
  background: rgba(255, 255, 255, 0.25);
  color: #000;
  left: 0;
  top: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manufacture_date .view_product_box {
  cursor: pointer;
}

.image_box .imgprivew_box .img_add_button {
  cursor: pointer;
  position: absolute;
  top: 0;
  opacity: 0;
  z-index: 1;
  height: 100%;
}

.img_preview_boxx .imgprivew_box .cover_img {
  background: green;
  color: #fff;
  max-width: fit-content;
  width: 100%;
  font-size: 13px;
  text-transform: uppercase;
  padding: 3px;
  position: absolute;
  font-weight: 600;
}

/* end variant and image */
/* Complaint */
.complaintdescbox {
  padding: 10px 0;
}

.complaintdesc {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

/* review */
.reviewdesc {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  padding-top: 15px;
}

/* category */
.category_icon_box {
  display: flex;
  gap: 10px;
}

.category_icon_box .category_icon {
  max-width: 50px;
  width: 100%;
}

.product_page_uploadbox_button {
  position: absolute;
  line-height: 35px;
  opacity: 0;
  border-radius: 10px;
}

.img_preview_boxx .image_box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.feature_product_dropdown_box .dropdown button {
  color: #000 !important;
  font-size: 30px !important;
  background: transparent !important;
  border: none;
}

.img_preview_boxx.show {
  display: table-row;
  transition: all .3s;
}

.img_preview_boxx.hide {
  display: none;
  transition: all .3s;

}